* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  text-transform: uppercase;
  background-color: #e8e8e8;
}

.calendar {
  display: flex;
  margin: 15vh auto;
  width: 95%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}
.sep-calendar{
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2) -3px 3px 10px 0 #fff;
    padding: 10px;
}
.sep-calendar h1{
  text-align: center;
}
.sep-calendar dev{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
}

li{
  
